

html{

  scroll-behavior: smooth;

}



body {
        background-color: #fff;
        color: #000;
        margin: 0; 
        height: 100%; 
        overflow: hidden;
        scroll-behavior: smooth;
      }

      .dark-mode {

        background-color: black;       
        color: #fff;
      }



.title{

      font-family: 'Comfortaa', cursive;
      text-align: center;
      font-size: 600%;
      animation-name: fade;
      animation-duration: 1s;
      margin-top: 7%;
      margin-left: 15%;
      margin-right: 15%;
      transition: 1s;
      scroll-behavior: smooth;

}



.title:hover{


      font-size: 700%;
      transition: 1s;

}



@keyframes fall{


  from {

      margin-top: 100px;
  }

  to {


      margin-top: 200px;
  }
}


.center {


      text-align: center;

}



.git {

      width: 90px;
      animation-name: fade;
      animation-duration: 2s;
      transition: 0.8s;

}


.git:hover{


      width: 120px;

}



@keyframes fade {


  from {


      opacity: 0%;
  }


  to {


      opacity: 100%;

  }
}



.info {

      text-align: center;
      font-family: 'Comfortaa', cursive;
      margin-top: 30px;
      animation-name: fade;
      animation-duration: 2s;

}



.moon {

      padding: 0;
      border: none;
      background: none;
      

}



.lefter {


      text-align: left;
      width: 60px;
      transition: 1s;
      border-color: blue;
      border-radius: 3px;
}



.lefter:hover {


      width: 70px;


}



.text{

      animation-duration: 2se;
      animation-name: fall;


}



.ut {

      padding: 0;
      border: none;
      background: none;
  

}



.cen {

      text-align: center;

}



.foot {


      height: 30px;

}



.top{

      text-align: center;
      height: 60px;

}

.space{

      display: block;
      margin-top: 200px 0;
      content: "";

}


.block{


      background-color: black;
      opacity: 50%;
      border-color: black;
      border-radius: 10px; 
      border-style: solid;
      transition: ;
      }

.cescosite:hover{

      transition: 0.3s;
      height: 200px;


}

//* git TEST BS //*